body {
  font-family: Roboto, sans-serif;
}

.ant-layout {
  height: 100vh;
}

.ant-layout-sider {
  flex: 0 0 250px !important;
  max-width: 250px !important;
  min-width: 250px !important;
  width: 250px !important;
}

.ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}

.ant-layout-sider-collapsed .sm-logo {
  display: block;
}

.ant-layout-sider-collapsed .lg-logo {
  display: none;
}

.sm-logo {
  display: none;
}

.demo-logo-vertical {
  background-color: #ffd333;
  margin: 0;
  height: 64px;
}

.ant-menu-title-content {
  font-size: 16px;
}

.ant-layout-header h5 {
  line-height: 20px;
  font-size: 14px;
}
.ant-layout-header p {
  line-height: 20px;
  font-size: 13px;
}
.ant-layout-header .badge {
  top: 14px;
  right: 0px;
}

main {
  overflow-y: scroll;
  background-color: transparent !important;
  
}
